            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><strong>Track G - Oakland's Measure G</strong></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index">About</a></li>
                            <li class=""><a href="map">By Location</a></li>
                            <li class=""><a href="programs#art">By Program</a></li>
                            <li class=""><a href="chart">By School</a></li>
                            <li class=""><a href="treemap">In Summary</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
                            <li>
                              <a class="twitter" href="https://twitter.com/intent/tweet?hashtags=OAKEDU&original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&text=Explore%20how%20Measure%20G%20funds%20are%20spent%20in%20%23Oakland%20Schools!&tw_p=tweetbutton&url=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&via=OpenOakland" target="_blank">
                              <i class="fa fa-twitter fa-lg"></i>
                              </a>
                            </li>
                            <li>
                                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftrackg.org" target="_blank" class="fbhover"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>