
<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/_header", { title: "Measure G Spending by School"}) %>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!--Load the AJAX API. Do this only once per web page! -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">



    google.charts.load('current', {'packages':['table']});

    var dataBySchool = [];
         $.getJSON('per_pupil_total.json', function(data) {

                $.each(data, function(key, row) {
                    var schoolname = "<a href='school.html?schoolID="+row.site+"' target='_blank'>"+row.field_7+"</a>"
                    var perPupilMeasureG = row.g2014/row._20th_enroll
                    var measuregOverTotal = row.g2014/row.budget
                    item = [schoolname, row._20th_enroll, row.g2014, perPupilMeasureG, row.budget, row.per_pupil_expenditures_formula, measuregOverTotal * 100]
                    dataBySchool.push(item);
                });

                // //Add a header to each program data set (only happens once)
                dataBySchool.unshift(['School', 'Enrollment', 'Measure G Total $',  'Measure G $ Per Pupil', 'School Total $', 'Total $ Per Pupil', '% from Measure G']);

            });
            var windowheight = window.innerHeight - 100;


            function drawTable() {
                dataBySchool = google.visualization.arrayToDataTable(dataBySchool);
                var table = new google.visualization.Table(document.getElementById('table_div'));

                var formatter = new google.visualization.NumberFormat(
                    {prefix: '$', fractionDigits: 0});
                formatter.format(dataBySchool, 2); // Apply formatter to $ columns
                formatter.format(dataBySchool, 3);
                formatter.format(dataBySchool, 4);
                formatter.format(dataBySchool, 5);

                var formatter = new google.visualization.NumberFormat(
                    {suffix: '%', fractionDigits: 1});
                formatter.format(dataBySchool, 6);

                table.draw(dataBySchool, {showRowNumber: true, width: '100%', height: windowheight, allowHtml: true});
            }

            google.charts.setOnLoadCallback(drawTable);


            // function drawChart() {

            //     function updateChartData(programId) {
            //         window.location.hash = programId;
            //         var programDataKey = supportedPrograms[programId];
            //         var dataWithHeaders = dataByProgram[programDataKey];

            //         var numBars = dataWithHeaders.length - 1;
            //         var chartHeight = numBars * 70;

            //         var data = google.visualization.arrayToDataTable(dataWithHeaders);

            //         data.sort([{column: 1, desc:true}]);

            //         var chart = new google.charts.Bar(document.getElementById('chart_div'));

            //         google.visualization.events.addListener(chart, 'ready', function() {
            //             document.body.scrollTop = document.documentElement.scrollTop = 0;
            //         });

            //         var options = {
            //             chart: {
            //             },
            //             bars: 'horizontal', // Required for Material Bar Charts.
            //             height: chartHeight,
            //             axes: {
            //                 x: {
            //                   0: { side: 'top', label: 'Amount spent'} // Top x-axis.
            //                 }
            //               }
            //         };

            //         chart.draw(data, google.charts.Bar.convertOptions(options));
            //         $('#program-select div').removeClass('active');
            //         $('#program-select #'+programId).addClass('active');
            //         document.body.scrollTop = document.documentElement.scrollTop = 0;
            //     }

            //     updateChartData(selectedProgram);
            //     $('#program-select #'+selectedProgram).addClass('active');

            //     $('#program-select').click(function(event) {
            //         updateChartData(event.target.id);
            //     });

            // }
        </script>

        <!--Google analytics snippet -->
           <script>
          //   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          //   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          //   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          //   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          //   ga('create', 'UA-35908939-11', 'auto');
          //   ga('send', 'pageview');

          </script>
    </head>
    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">

            <%- partial("partials/_navbar") %>

          <!-- Begin page content -->
          <div class="center-container">

            <div class="center-row">
                <div class="container">

                    <div id="table_div"></div>

                </div>

            </div>


          </div>

        </div> <!-- end wrap -->

        <!-- Place your code in the script tags below -->
        <script type="text/javascript">
            // window.onload = function() {


            // }
        </script>
        <%- partial("partials/_uservoice.ejs") %>

    </body>
</html>
