
<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/_header", { title: "About Measure G"}) %>

        <style type="text/css">

            html, body, #map {
                height: 100%;
                padding: 0;
                margin: 0;

                background-color:#fff;
                text-rendering:optimizeLegibility;
                -webkit-text-rendering:optimizeLegibility;
                -webkit-font-smoothing:antialiased;
                color:#333;
                font-weight:300;
                line-height:25px;
                font-family:"Proxima Nova W01","Helvetica Neue",Helvetica,Arial,sans-serif
            }

            /* Wrapper for page content to push down footer */
            #wrap {
              min-height: 100%;
              height: 100%;
            }

            #wrap > .center-container {
              padding: 50px 0 0 0;
              margin:0;
            }

            .center-container, .center-row {
              height:100%;
            }

            .preview-image {
                width: 100%;
            }

            /* Nav Social Links */
            ul.social a.twitter:hover {
                color: #00aced;
            }

            ul.social a.facebook:hover {
                color: #3b5998;
            }

            /* Team */
            .team {
                text-align: center;
                padding-bottom: 100px;
            }

            .team img {
                width: 70%;
                padding-top: 10px;
            }

            /* Questions */
            h3 {
                padding-top: 20px;
            }

            </style>

        <!--Google analytics snippet -->
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35908939-11', 'auto');
            ga('send', 'pageview');

          </script>
    </head>
    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-target" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><strong>Track G - Oakland's Measure G</strong></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">About</a></li>
                            <li class=""><a href="map.html">By Location</a></li>
                            <li class=""><a href="programs.html">By Program</a></li>
                            <li class=""><a href="chart.html">By School</a></li>
                            <li class=""><a href="treemap.html">In Summary</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
                            <li>
                              <a class="twitter" href="https://twitter.com/intent/tweet?hashtags=OAKEDU&original_referer=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&text=Explore%20how%20Measure%20G%20funds%20are%20spent%20in%20%23Oakland%20Schools!&tw_p=tweetbutton&url=https%3A%2F%2Fabout.twitter.com%2Fresources%2Fbuttons&via=OpenOakland" target="_blank">
                              <i class="fa fa-twitter fa-lg"></i>
                              </a>
                            </li>
                            <li>
                                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftrackg.org" target="_blank" class="fbhover"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

          <!-- Begin page content -->
          <div class="center-container">

            <div class="center-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>What is Measure G?</h3>
                            <div>
                            Measure G is a special parcel tax approved by the citizens of Oakland which amounts to an additonal amount of about $20 million each year in the Oakland Unified School District's budget.
                            </div>

                            <h3>Where does the money come from?</h3>
                            <div>Each year since July 2009, $195 is collected from owners of each parcel of land in Oakland. There is no expiration date set for this special tax. Low income households may <a href="http://www.ousd.org/domain/3290" target="_blank"> apply for an exemption from the tax.</a></div>

                            <h3>How can the money be spent?</h3>
                            <div>
                                Funds may be used for these purposes at any Oakland public school that is <strong>not</strong> a charter:
                                <ul>
                                    <li>to attract and retain highly qualified teachers
                                    <li>maintain courses that help students qualify for college</li>
                                    <li>maintain up-to-date textbooks and instructional materials</li>
                                    <li>keep class sizes small</li>
                                    <li>continue after school academic programs</li>
                                    <li>maintain school libraries</li>
                                    <li>provide programs, including art and music programs, that enhance student achievement.</li>
                                </ul>
                            </div>

                            <h3>What accountability measures are in place?</h3>
                            <div>
                            An <a href="https://ousd.legistar.com/DepartmentDetail.aspx?ID=3855&GUID=55462427-5543-4B51-A7B5-ADDB66E51103" target="_blank"> Independent Citizens' Oversight Committee</a> produces a report each year on the previous year's spending and an audit is performed annually. Meetings are generally held on the 3rd Wednesday of the month at 6:30pm at MetWest High School (314 E 10th St, Oakland, CA 94606) on the second floor across from the KDOL studio. Check the calendar because sometimes meetings are cancelled and there is a summer recess.
                            </div>
                            <a href="http://www.smartvoter.org/2008/02/05/ca/alm/meas/G/#text" target="_blank"><h3>Read Full Text of the Law</h3></a>
                            <a href="http://data.openoakland.org/dataset/ousd-measure-g-parcel-tax-expenditures" target="_blank"><h3>Browse Full Dataset</h3></a>

                            <h3>The Track G Team</h3>
                            Track G is a project of OpenOakland and a member of the #OAKEDU community.
                            <div class="row team">
                                <div class="col-sm-3 col-xs-6">
                                    <img src="images/erin-hancock.png">
                                    <div>Erin Hancock</div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <img src="images/john-baldo.jpg">
                                    <div>
                                        John Baldo
                                        <a href="http://twitter.com/johnbaldo" class="twitter" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="http://openoakland.org" target="_blank">
                                        <img src="images/open-oakland.png">
                                    </a>
                                    <div>
                                        <a href="http://twitter.com/openoakland" class="twitter" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="http://oakedu.org" target="_blank">
                                        <img src="images/oak-edu.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h3>Spending by Location</h3>
                            <div>View distribution of funds on an Oakland Map</div>
                            <a href="map.html"><img class="preview-image" src="images/map.png"></a>

                            <h3>Spending by Program</h3>
                            <div>Break down spending by Measure G program</div>
                            <a href="treemap.html"><img class="preview-image" src="images/by_program.png"></a>
                        </div>
                    </div>

                    </div>
                </div>

            </div>


          </div>

        </div> <!-- end wrap -->

        <!-- Place your code in the script tags below -->
        <script type="text/javascript">
            window.onload = function() {



            }
        </script>
        <script>
            // Include the UserVoice JavaScript SDK (only needed once on a page)
            UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/fE7XpxXMOWc2yipGiIhow.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

            //
            // UserVoice Javascript SDK developer documentation:
            // https://www.uservoice.com/o/javascript-sdk
            //

            // Set colors
            UserVoice.push(['set', {
              accent_color: '#6aba2e',
              trigger_color: 'white',
              trigger_background_color: '#6aba2e',
              forum_id: '347124',
              strings: {
                post_suggestion_title: 'Post an idea to improve this page',
                post_suggestion_body: 'Publica una idea para mejorar esta página. \n 张贴想法，以改善此页面',
                suggestion_category_label: 'Which page are you on?'
                }
            }]);

            // Add default trigger to the bottom-right corner of the window:
            UserVoice.push(['addTrigger', {mode: 'feedback', trigger_position: 'bottom-right' }]);

            // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
            UserVoice.push(['autoprompt', {}]);
        </script>
    </body>
</html>
