
<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/_header", { title: "About Measure G"}) %>

        <!--Google analytics snippet -->
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35908939-11', 'auto');
            ga('send', 'pageview');

          </script>
    </head>
    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">

            <%- partial("partials/_navbar") %>

          <!-- Begin page content -->
          <div class="center-container">

            <div class="center-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>What is Measure G?</h3>
                            <div>
                            Measure G is a special parcel tax approved by the citizens of Oakland which amounts to an additonal amount of about $20 million each year in the Oakland Unified School District's budget.
                            </div>

                            <h3>Where does the money come from?</h3>
                            <div>Each year since July 2009, $195 is collected from owners of each parcel of land in Oakland. There is no expiration date set for this special tax. Low income households may <a href="http://www.ousd.org/domain/3290" target="_blank"> apply for an exemption from the tax.</a></div>

                            <h3>How can the money be spent?</h3>
                            <div>
                                Funds may be used for these purposes at any Oakland public school:
                                <ul>
                                    <li>to attract and retain highly qualified teachers
                                    <li>maintain courses that help students qualify for college</li>
                                    <li>maintain up-to-date textbooks and instructional materials</li>
                                    <li>keep class sizes small</li>
                                    <li>continue after school academic programs</li>
                                    <li>maintain school libraries</li>
                                    <li>provide programs, including art and music programs, that enhance student achievement.</li>
                                </ul>
                                Currently, charter schools are not receiving Measure G funds, but may in the future.
                            </div>

                            <h3>What accountability measures are in place?</h3>
                            <div>
                            An <a href="https://ousd.legistar.com/DepartmentDetail.aspx?ID=3855&GUID=55462427-5543-4B51-A7B5-ADDB66E51103" target="_blank"> Independent Citizens' Oversight Committee</a> produces a report each year on the previous year's spending and an audit is performed annually. Meetings are generally held on the 3rd Wednesday of the month at 6:30pm at MetWest High School (314 E 10th St, Oakland, CA 94606) on the second floor across from the KDOL studio. Check the calendar because sometimes meetings are cancelled and there is a summer recess.
                            </div>
                            <div id="report-links">
                            <h4>View the Oversight Committee's reports:</h4>
                            <ul>
                                <li><a href="https://ousd.legistar.com/View.ashx?M=F&ID=5011358&GUID=3AA99B5A-829B-4873-9B5D-F11F263A564F">2015-2016 School Year</a></li>
                            </ul>
                            </div>
                            <a href="http://www.smartvoter.org/2008/02/05/ca/alm/meas/G/#text" target="_blank"><h3>Read Full Text of the Law</h3></a>
                            <a href="http://data.openoakland.org/dataset/ousd-measure-g-parcel-tax-expenditures" target="_blank"><h3>Browse Full Dataset</h3></a>

                            <a href="https://nces.ed.gov/ccd/pubschuniv.asp" target="_blank"><h4>Enrollment Data Source</h4></a>

                            <h3>Change Log</h3>
                            <div>A list of updates that have been made to this site.</div>
                            <div>
                                <h5>July 8, 2018: Enrollment Data Update</h5>
                                <ul>
                                    <li>Enrollment data has been updated through the 2016-17 school year</li>
                                    <li>By School and school detail pages now indicate which year's data is displayed</li>
                                </ul>
                                <h5>March 24, 2018: 2016-17 Measure G Data Added</h5>
                                <ul>
                                    <li>An additional year's data added. A total of 5 school years are now available</li>
                                </ul>
                            </div>

                            <h3>The Track G Team</h3>
                            Track G is a project of OpenOakland and a member of the #OAKEDU community.
                            <div class="row team">
                                <div class="col-sm-3 col-xs-6">
                                    <img src="images/erin-hancock.png">
                                    <div>Erin Hancock</div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <img src="images/john-baldo.jpg">
                                    <div>
                                        John Baldo
                                        <a href="http://twitter.com/johnbaldo" class="twitter" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="http://openoakland.org" target="_blank">
                                        <img src="images/open-oakland.png">
                                    </a>
                                    <div>
                                        <a href="http://twitter.com/openoakland" class="twitter" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="http://oakedu.org" target="_blank">
                                        <img src="images/oak-edu.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>
                </div>

            </div>


          </div>

        </div> <!-- end wrap -->

        <!-- Place your code in the script tags below -->
        <script type="text/javascript">
            window.onload = function() {



            }
        </script>
        <%- partial("partials/_uservoice.ejs") %>

    </body>
</html>
