
<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/_header", { title: "Measure G - Spending Summary"}) %>

        <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['treemap']}]}"></script>
   

        <style type="text/css">

            html, body, #map {
                height: 100%;
                padding: 0;
                margin: 0;

                background-color:#fff;
                text-rendering:optimizeLegibility;
                -webkit-text-rendering:optimizeLegibility;
                -webkit-font-smoothing:antialiased;
                color:#333;
                font-weight:300;
                line-height:25px;
                font-family:"Proxima Nova W01","Helvetica Neue",Helvetica,Arial,sans-serif
            }

            /* Wrapper for page content to push down footer */
            #wrap {
              min-height: 100%;
              height: 100%;
            }

            #wrap > .center-container {
              padding: 50px 0 0 0;
              margin:0;
            }

            .center-container, .center-row {
              height:100%;
            }

            .container {
                height: 97%
            }
            #goUp {
                margin: 0 5px;
            }

            /* Nav Social Links */
            ul.social a.twitter:hover {
                color: #00aced;
            }

            ul.social a.facebook:hover {
                color: #3b5998;
            }

            /*Program Selector*/

            #year-select, h3 {
                display: table;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .year {
                font-weight: bold;
                display: inline-block;
                padding: 5px 8px;
                margin: 1px 1px;
                cursor: pointer;

            }

            .year.active, .year.active:hover {
                color: white;
                background-color: #4285F4;
                border-radius: 5px;
            }

            .year:hover {
                color: black;
                background-color: #E7E7E7;
                border-radius: 5px;
            }

            </style>

          <!--Google analytics snippet -->
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35908939-11', 'auto');
            ga('send', 'pageview');

          </script>
    </head>
    <body>

      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
                <!-- Wrap all page content here -->
                <div id="wrap">

            <%- partial("partials/_navbar") %>

          <!-- Begin page content -->
          <div class="center-container">

            <div class="center-row">
                <div class="container">
                    <div id="year-select">
                        <div class="year" id="2012">2012-13</div>
                        <div class="year" id="2013">2013-14</div>
                        <div class="year" id="2014">2014-15</div>
                    </div>

                    <div id="chart_div">
                    </div>
                    <input type="button" id="goUp" value="Go up one level" />
                </div>
                
            </div>


          </div>

        </div> <!-- end wrap -->

        <!-- Place your code in the script tags below -->
        <script type="text/javascript">
            google.load("visualization", "1.1", {packages:["treemap"]});

            var dataHeader = [
                ['Spending by Program', null, 0],
                ['CLASS SIZE REDUCTION', 'Spending by Program', null],
                ['ART', 'Spending by Program', null],
                ['MUSIC', 'Spending by Program', null],
                ['COVERED ELEM INTERVENTION PDS', 'Spending by Program', null],
                ['BASIC SCHOOL SUPPORT', 'Spending by Program', null],
                ['SCHOOL LIBRARIES', 'Spending by Program', null],
                ['ORATORICAL FEST/PERFORMANCES', 'Spending by Program', null],
                ['Oakland Fine Arts Summer Schl', 'Spending by Program', null],
                ['MIDDLE SCHOOL ELECTIVES', 'Spending by Program', null],
                ['NCLB HQT COMPLIANCE', 'Spending by Program', null],
                ['OTH PROGRAMS / LOCAL GOALS', 'Spending by Program', null],
                ['HR Recruitment', 'Spending by Program', null]
            ];

            var dataByYear = {};

            supportedYears = ["2012", "2013", "2014"];

            $.ajax('programs.json',{
                async: false
            })


                .done(function (data) {

                  $.each(data, function(key, row) {

                      $.each(supportedYears, function (key, year) {
                          item = [
                              {v: ""+row.uid, f: row.object},
                              row.program,
                              {v: row["g"+year], f: row["money_"+year]}
                          ];

                          if(dataByYear[year]) {
                              dataByYear[year].push(item);
                          } else {
                              dataByYear[year] = [item];
                          }
                      });

                  });

                  //Add a header to each program data set (only happens once)
                  for(var year in dataByYear) {
                      for(var key in dataHeader) {
                          dataByYear[year].unshift(dataHeader[key]);
                      };
                      dataByYear[year].unshift(['Object','Program','Spending by Program']);
                  };

                });

            google.setOnLoadCallback(drawChart);

            //get selected program from URL
            var selectedYear = window.location.hash.slice(1);

            if(selectedYear in supportedYears) {
            } else {
                selectedYear = "2014";
                window.location.hash = "2014";
            }

            function drawChart() {

                function updateChartData(year) {

                    var data = google.visualization.arrayToDataTable(dataByYear[year]);

                    var chart = new google.visualization.TreeMap(document.getElementById('chart_div'));

                    var formatter = new google.visualization.NumberFormat(
                        {fractionDigits:0});

                    var options = {
                      highlightOnMouseOver: true,
                      maxDepth: 1,
                      maxPostDepth: 2,
                      minHighlightColor: '#8c6bb1',
                      midHighlightColor: '#9ebcda',
                      maxHighlightColor: '#edf8fb',
                      minColor: '#009688',
                      midColor: '#f7f7f7',
                      maxColor: '#ee8100',
                      headerHeight: 15,
                      showScale: true,
                      height: window.innerHeight - 200,
                      useWeightedAverageForAggregation: true,
                      generateTooltip: showFullTooltip,
                      hintOpacity: 1
                    };

                    document.getElementById('goUp').onclick = function () {
                        // this needs some work still, as the event isn't firing
                        chart.goUpAndDraw();
                    };

                    chart.draw(data, options);

                    function showFullTooltip(row, size, value) {
                        return '<div style="background:#fff; padding:10px; border-style:solid">' +
                               '<span><b>' + data.getFormattedValue(row, 0) +
                               '</b> '  +  '</span><br>' +
                               'Total Spending (in dollars): $' + formatter.formatValue(size) + '<br>' 
                    }
                    chart.draw(data, options);
                    $('#year-select div').removeClass('active');
                    $('#year-select #'+year).addClass('active');
                    window.scrollTo(0, 0);

                }

                updateChartData(selectedYear);
                $('#year-select #'+selectedYear).addClass('active');

                $('#year-select').click(function(event) {
                    updateChartData(event.target.id);
                });
            }

            
        </script>
        <%- partial("partials/_uservoice.ejs") %>
    </body>
</html>
