html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;

    background-color:#fff;
    text-rendering:optimizeLegibility;
    -webkit-text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    color:#333;
    font-weight:300;
    line-height:25px;
    font-family:"Proxima Nova W01","Helvetica Neue",Helvetica,Arial,sans-serif
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    > .center-container {
        padding: 50px 0 0 0;
        margin:0;
    }
}

.center-container, .center-row {
    height:100%;
}

.preview-image {
    width: 100%;
}

/* Nav Social Links */
ul.social {
    a.twitter:hover {
      color: #00aced;
    }
    a.facebook:hover {
      color: #3b5998;
    }
}

// override bootstrap's mobile nav collapse breakpoint
// source: http://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
