@import 'main';

/* Team */
.team {
    text-align: center;
    padding-bottom: 100px;

    img {
        width: 70%;
        padding-top: 10px;
    }
}

/* Questions */
h3 {
    padding-top: 20px;
}

#report-links {
    padding-top: 15px;
}